.container{
    display: flex;
    flex-direction: row;
    background-color: #090909;
    align-items: center;
    padding-left: 107px;
    padding-top: 177px;
    padding-bottom: 195px;
    position: relative;
}

.title{
    color: #fff;
    font-size: 240px;
    line-height: 343px;
    font-weight: 400;
}

.text{
    color: #fff;
    font-size: 48px;
    line-height: 69px;
}

.button{
    background-color: #029847;
    color: #fff;
    margin-left: 100px;
    font-size: 80px;
    line-height: 114px;
    padding: 0 5px 0 5px;
}
.button:hover {
    color: #090909;
    cursor: pointer;
}
.ellipse{
    height: 548px;
    border-radius: 50%;
    background-color: #090909;
    position: absolute;
    right: -16px;
    left: -16px;
    top: 537px;
    z-index: -1;
}