.container{
    display: flex;
    flex-direction: row;
    background-color: #090909;
    align-items: center;
    padding-left: 5.57%;
    padding-top: 9.22%;
    padding-bottom: 10.16%;
    position: relative;
    margin-top: -1px;
}

.title{
    color: #fff;
    font-size: 15rem;
    line-height: 343px;
    font-weight: 400;
}

.text{
    color: #fff;
    font-size: 3rem;
    line-height: 69px;
}

.button{
    background-color: #029847;
    color: #fff;
    margin-left: 5.21%;
    font-size: 5rem;
    line-height: 114px;
    padding: 0 0.26% 0 0.26%;
}

.button:hover {
    color: #090909;
    cursor: pointer;
}

.ellipse {
    height: 548px;
    border-radius: 50%;
    background-color: #090909;
    position: absolute;
    right: -16px;
    left: -16px;
    top: 537px;
    z-index: -1;
}


@media (max-width: 1600px) {
    .title{
        font-size: 12.5rem;
        line-height: 285px;
    }
    .text{
        font-size: 2.5rem;
        line-height: 57px;
    }
    .button{
        font-size: 4.1rem; 
        line-height: 95px;
     }
     .ellipse {
        height: 500px;
        top: 400px;
     }
}

@media (max-width: 1400px) {
    .container{
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        padding-left: 0;
        padding-top: 50px;
        padding-bottom: 3%;
    }
    .title{
        font-size: 10.9rem;
        line-height: 250px;
    }
    .text{
        text-align: center;
        font-size: 2.1rem;
        line-height: 50px;
        padding-bottom: 10px;
    }
    .button{
        font-size: 3.6rem; 
        margin-left: 0;
        line-height: 83px;
     }
     .ellipse {
        height: 400px;
        top: 300px;
     }
}

@media (max-width: 900px) {
    .container{
        padding-bottom: 1%;
    }
    .title{
        font-size: 7rem;
        line-height: 160px;
    }
    .text{
        font-size: 1.4rem;
        line-height: 32px;
    }
    .button{
        font-size: 2.3rem; 
        line-height: 83px;
     }
     .ellipse {
        height: 300px;
        top: 200px;
     }
}