.container{
    position: absolute;
    top: 1375px;
    left: 13.02%;
    right: 12.66%;
}

.title{
    font-size: 15rem;
    line-height: 343px;
    color: white;
}

.title__black{
    color: #090909;
    margin-top: -1.3%;
    margin-bottom: 7.19%;
}

.exchange{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.exchange__button{
    display: inline-block;
    background-color: #029847;
    color: #fff;
    font-size: 6.1rem;
    padding: 0 1.3% 1.46% 1.3%;
}

.exchange__button:hover {
    color: #090909;
    cursor: pointer;
}

.exchange__info{
    display: flex;
    flex-direction: column;
}

.exchange__info__text{
    display: block;
    font-size: 3rem;
    line-height: 69px;
    text-align: right;
    color: #090909;
}


@media (max-width: 1600px) {
    .container{
        top: 1120px;
    }
    .title{
        font-size: 12.5rem;
        line-height: 285px;
    }

    .exchange__button{
        font-size: 5rem;
    }

    .exchange__info__text{
        font-size: 2.5rem;
        line-height: 57px;
    }
}

@media (max-width: 1400px) {

    .container{
        top: 950px;
    }

    .title{
        font-size: 10rem;
        line-height: 250px;
    }

    .exchange__button{
        font-size: 4rem;
    }

    .exchange__info__text{
        font-size: 2rem;
        line-height: 50px;
    }
}

@media (max-width: 1200px) {

    .container{
        top: 650px;
    }

    .title{
        font-size: 9rem;
        line-height: 214px;
    }

    .exchange__button{
        font-size: 3.5rem;
    }

    .exchange__info__text{
        font-size: 1.5rem;
        line-height: 50px;
    }
}

@media (max-width: 960px) {
    .title{
        font-size: 7rem;
        line-height: 160px;
    }

    .exchange__button{
        font-size: 2.5rem;
    }

    .exchange__info__text{
        font-size: 1.4rem;
        line-height: 32px;
    }
}