.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container:hover {
  cursor: pointer;
}

.wand {
  height: 4px;
  width: 36px;
  background-color: white;
  position: absolute;
}

.first {
  transform: rotate(45deg);
}

.second {
  transform: rotate(135deg);
}

@media (max-width: 1200px) {
  .wand {
    height: 2.5px;
    width: 22.5px;
  }
}

@media (max-width: 900px) {
  .wand {
    height: 1.8px;
    width: 16.8px;
  }
}

@media (max-width: 500px) {
  .wand {
    height: 0.9px;
    width: 8.4px;
  }
}
