@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body{
  line-height: 1;
  font-size: 16px;
  height: 100%;
  scroll-behavior: smooth;
  font-family: 'Quantico', sans-serif;
}

a {
  text-decoration: none;
}

a :active{
  opacity: 0.8;
}

ul, 
li {
  list-style: none;
}

.wrapper{
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 85px;
}

.main__container{
  position: relative;
}