@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  font-family: 'Quantico', sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._content {
  margin: 0 auto;
  max-width: 1920px;
}

/* ._container {
  max-width: 1200px;
  padding: 0 15px;
  box-sizing: content-box;
  margin: 0 auto;
} */

.main__container {
  position: relative;
}

/* Colors=============================== */
:root {
  /* Colors */
  --color-light: #ffffff;
  --color-dark: #090909;
  --color-green: #029847;
}

@media(max-width: 1800px){
  html,body {
    font-size: 15px;
  }
}

@media(max-width: 1700px){
  html,body {
    font-size: 14.1px;
  }
}

@media(max-width: 1600px){
  html,body {
    font-size: 13.3px;
  }
}

@media(max-width: 1500px){
  html,body {
    font-size: 12.5px;
  }
}

@media(max-width: 1400px){
  html,body {
    font-size: 11.6px;
  }
}

@media(max-width: 1300px){
  html,body {
    font-size: 10.8px;
  }
}

@media(max-width: 1200px){
  html,body {
    font-size: 10px;
  }
}

@media(max-width: 1100px){
  html,body {
    font-size: 9.16px;
  }
}

@media(max-width: 1000px){
  html,body {
    font-size: 8.3px;
  }
}

