/* .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 119px;
    padding-left: 4.58%;
    padding-right: 4.58%;
    background-color: #090909;
}

.link {
    font-style: normal;
    font-weight: 400;
    font-size: 3.75rem;
    color: #FFFFFF;
}

.link:hover {
    background-color: #029847;
    color: #090909;
}

.indentation__default {
    margin-left: 1.61%
}

.indentation__specific{
    margin-left: 5.21%;
    margin-right: 5.21%;
}

.indentation__specific_wrap{
    margin-left: 0;
    margin-right: 0;
}

@media (max-width: 1850px) {
    .link {
        font-size: 3.6rem 
    }
}

@media (max-width: 1780px) {
    .link {
        font-size: 3.4rem 
    }
}

@media (max-width: 1680px) {
    .link {
        font-size: 3.2rem 
    }
}

@media (max-width: 1600px) {
    .link {
        font-size: 3rem 
    }
}

@media (max-width: 1480px) {
    .link {
        font-size: 2.8rem 
    }
}

@media (max-width: 1400px) {
    .container {
        padding-top: 86px;
    }
    .indentation__specific{
        margin-left: 3.7%;
        margin-right: 3.7%;
    }
    .link {
       font-size: 2.5rem
    }
    .indentation__specific_wrap{
        margin-left: 1.61%;
    }
}

@media (max-width: 1240px) {
    .link {
        font-size: 2.4rem
     }
     .indentation__specific {
        margin-left: 3.3%;
        margin-right: 3.3%;
     }
}

@media (max-width: 1180px) {
    .link {
        font-size: 2rem
     }
     .indentation__specific {
        margin-left: 3.1%;
        margin-right: 3.1%;
     }
}

@media (max-width: 1000px) {
    .container {
        padding-top: 61px;
    }

    .link {
        font-size: 1.9rem
     }

     .indentation__specific {
        margin-left: 3%;
        margin-right: 3%;
     }
}

@media (max-width: 940px) {
    .link {
       font-size: 1.8rem
    }
}

@media (max-width: 880px) {
    .link {
       font-size: 1.6rem
    }
}

@media (max-width: 780px) {
    .link {
       font-size: 1.4rem
    }
}

@media (max-width: 680px) {
    .link {
       font-size: 1.2rem
    }
}


@media (max-width: 580px) {
    .container {
        padding-top: 34px;
    }

    .link {
       font-size: 1rem;
    }
} */


.header {
    position: absolute;
    top: 7.4rem;
    left: 0;
    right: 0;
    z-index: 1;
}

.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu__item:not(:nth-child(3)):not(:nth-child(4)):not(:last-child) {
    margin-right: 2rem;
}

.menu__item:nth-child(4) {
    margin: 0 6.8rem;
}

.menu__item:hover{
    background-color: var(--color-green);
}

.menu__item:active{
    opacity: 0.7;
}

.link {
    color: var(--color-light);
    font-weight: 400;
    font-size: 3.75rem;
    line-height: 5.3rem;
}

.link:hover{
    color: var(--color-dark);
    cursor: pointer;
}

.menu__active {
    color: var(--color-dark);
    background-color: var(--color-green);
}
