.card{
    background-color: #090909;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 240px;
    color: white;
}
.card__right__title{
    font-size: 140px;
    line-height: 200px;
    color: white;
}
.card__title{
    font-weight: 400;
    font-size: 240px;
    line-height: 343px;
    color: white;
}
.card__subtitle{
    font-size: 48px;
    line-height: 69px;
    color: white;
}